.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #111;
  color: #fff;

  &__logo {
    h2 {
      font-size: 22px;
      font-weight: bold;
      cursor: pointer;
    }
  }

  &__links {
    display: flex;
    gap: 3rem;

    a {
      text-decoration: none;
      color: #fff;
      font-weight: 500;
      transition: .3s;

      &:hover {
        scale: .9;
        text-decoration: none;
        color: #ff4d4d;
       
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__search {
    padding: 6px 10px;
    border-radius: 4px;
    border: none;
    outline: none;
  }
}

.btn {
  padding: 6px 14px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.login {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;

  &:hover {
    background-color: #fff;
    color: #000;
  }
}

.signup {
  background-color: #ff4d4d;
  color: #fff;

  &:hover {
    background-color: #ff1a1a;
  }
}